
* {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
  }

.visualiser-container{
   display: flex;
   flex-direction: column;
   background: linear-gradient(135deg, orange 60%, cyan);
   height: 100%;
   width: 100%;
}

.array-bar{
    background-color: blue;
    border-radius: 0.5em;
    margin: 0.13%;
}

.array-container{
  align-items:center;
  display: flex;  
  width:100%; 
}

.app-button{
    background-color: aquamarine;
}